# AI API KEYS
OPENAI_API_KEY=your-openai-api-key-here
ANTHROPIC_API_KEY=your-anthropic-api-key-here
GROQ_API_KEY=your-groq-api-key-here
XAI_API_KEY=your-xai-api-key-here
GOOGLE_API_KEY=your-google-api-key-here
MISTRAL_API_KEY=your-mistral-api-key-here
GITHUB_TOKEN=your-github-token-here
DEEP_AI_API_KEY=your-deepai-api-key-here

# Audio API
DG_API_KEY=your-deepgram-api-key-here
ELEVENLABS_API_KEY=your-elevenlabs-api-key-here

# Search
GOOGLE_CSE_ID=your-google-cse-id-here
GOOGLE_CSE_API_KEY=your-google-cse-api-key-here
SERPER_API_KEY=your-serper-api-key-here
TAVILY_API_KEY=your-tavily-api-key-here
JINA_API_KEY=your-jina-api-key-here
BRAVE_API_KEY=your-brave-api-key-here
REDDIT_CLIENT_ID=your-reddit-client-id-here
REDDIT_CLIENT_SECRET=your-reddit-client-secret-here

# Misc API
WEATHERAPI_KEY=your-weatherapi-key-here
GITHUB_PERSONAL_ACCESS_TOKEN=your-github-pat-here

### Tracing (optional)
LANGCHAIN_TRACING_V2=false
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=your-langchain-api-key-here
LANGCHAIN_PROJECT=par_gpt

VECTOR_STORE_URL=http://localhost:6333

GITHUB_MODEL_ENDPOINT=https://models.inference.ai.azure.com
XAI_ENDPOINT=https://api.x.ai/v1

# Application Options
#PARAI_AI_PROVIDER=OpenAI
#PARAI_MODEL=gpt-4o
#PARAI_AI_BASE_URL=
#PARAI_USER_AGENT_APPID=

# BEDROCK
#PARAI_AI_PROVIDER=Bedrock
#PARAI_MODEL=your-bedrock-model-arn-here
#PARAI_AI_BASE_URL=your-bedrock-base-url-here
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-aws-access-key-here

#PARAI_PRICING=details
#PARAI_DISPLAY_OUTPUT=md
#PARAI_YES_TO_ALL=true
#PARAI_SHOW_TOOL_CALLS=true

PARAI_LOG_LEVEL=NOTSET
